<nz-modal [(nzVisible)]="isVisible" nzTitle="{{modalTitle}}" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <form nz-form [formGroup]="fileForm">
    <nz-form-item>
      <nz-form-label [nzSm]="10" [nzXs]="30" nzRequired nzFor="Name">Nombre</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="Name" id="Name">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="10" [nzXs]="30" nzFor="FirstMessage" nzRequired>Primer mensaje</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <textarea nz-input id="FirstMessage" formControlName="FirstMessage"></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="10" [nzXs]="30" nzFor="fileType" nzRequired>Tipo de archivo</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-select formControlName="FileType" style="width: 100px;">
          <nz-option nzLabel="Excel" nzValue="Excel"></nz-option>
          <nz-option nzLabel="Word" nzValue="Word"></nz-option>
          <nz-option nzLabel="Power Point" nzValue="PowerPoint"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
<nz-card>
  <button class="button" nz-button [nzType]="'default'" (click)="showModalAsCreationMode()"><span>Crear archivo</span></button>
  <h3>Archivos creados</h3>
  <nz-table #basicTable [nzData]="files">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Usuario creador</th>
        <th>Fecha creacion</th>
        <th>Ultima actualizacion</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.Name}}</td>
        <td>{{data.Owner}}</td>
        <td>{{data.Type}}</td>
        <td>{{data.UpdateDate}}</td>
        <td>
            <a (click)="showModalAsEditMode(data)">Actualizar</a>
            <nz-divider *ngIf="canDelete(data)" nzType="vertical"></nz-divider>
            <a *ngIf="canDelete(data)" (click)="deleteFile(data)">Borrar</a>
          </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>