<div class="limiter">
  <div class="container-login100">
    <div class="login100-more" style="background-image: url('assets/img/train.jpg');"></div>

    <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
      <form nz-form nzLayout="horizontal" [formGroup]="registerForm" style="padding-left: 2em; padding-right: 2em;"
        (ngSubmit)="register()" class="login100-form validate-form" novalidate>
        <span class="login100-form-title p-b-59">
          Registro
        </span>

        <div class="wrap-input100 validate-input" data-validate="El nombre de usuario es requerido">
          <span class="label-input100">Nombre de usuario</span>
          <input class="input100" formControlName="Username" type="text" name="username" placeholder="Nombre de usuario">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="El nombre completo es requerido">
          <span class="label-input100">Nombre completo</span>
          <input class="input100" formControlName="FullName" type="text" name="name" placeholder="Nombre completo">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Contraseña es requerida">
          <span class="label-input100">Contraseña</span>
          <input formControlName="Password" class="input100" type="password" name="pass" placeholder="*************">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Es requerido confirmar la contraseña">
          <span class="label-input100">Repite contraseña</span>
          <input formControlName="passwordConfirmation" class="input100" type="password" name="repeat-pass" placeholder="*************">
          <span class="focus-input100"></span>
        </div>

        <div class="flex-m w-full p-b-33">
          <div class="contact100-form-checkbox">
            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
            <label class="label-checkbox100" for="ckb1">
              <span class="txt1">
                Acepto todos los
                <a href="#" class="txt2 hov1">
                  Terminos de usuario
                </a>
              </span>
            </label>
          </div>
        </div>

        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button type="submit" class="login100-form-btn">
              Registrarme
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>