<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-sm-6">

      <div class="card">
        <div class="content">
          <div class="row">
            <div class="col-xs-5">
              <div class="icon-big icon-warning text-center">
                <i class="ti-layers-alt"></i>
              </div>
            </div>
            <div class="col-xs-7">
              <div class="numbers">
                <p>Word</p>
              </div>
            </div>
          </div>
          <div class="footer">
            <hr />
            <div class="stats">
              <i class="ti-files"></i><span> Cantidad de archivos existentes: {{wordFiles}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-6">
      <div class="card">
        <div class="content">
          <div class="row">
            <div class="col-xs-5">
              <div class="icon-big icon-warning text-center">
                <i class="ti-server"></i>
              </div>
            </div>
            <div class="col-xs-7">
              <div class="numbers">
                <p>Excel</p>
              </div>
            </div>
          </div>
          <div class="footer">
            <hr />
            <div class="stats">
              <i class="ti-files"></i><span> Cantidad de archivos existentes: {{excelFiles}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-6">
      <div class="card">
        <div class="content">
          <div class="row">
            <div class="col-xs-5">
              <div class="icon-big icon-warning text-center">
                <i class="ti-image"></i>
              </div>
            </div>
            <div class="col-xs-7">
              <div class="numbers">
                <p>Power Point</p>
              </div>
            </div>
          </div>
          <div class="footer">
            <hr />
            <div class="stats">
              <i class="ti-files"></i><span> Cantidad de archivos existentes: {{powerPointFiles}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>