<!-- <nz-modal [(nzVisible)]="isVisible" nzTitle="{{modalTitle}}" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <form nz-form [formGroup]="userForm">
      <nz-form-item>
        <nz-form-label [nzSm]="10" [nzXs]="30" nzRequired nzFor="Name">Nombre</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="Name">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
          <nz-form-label [nzSm]="10" [nzXs]="30" nzRequired>Apellido</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="LastName">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
          <nz-form-label [nzSm]="10" [nzXs]="30" nzRequired>Matricula</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="UniqueId">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="10" [nzXs]="30" nzRequired>Edad</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <input nz-input formControlName="Age" >
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
              <nz-form-label [nzSm]="10" [nzXs]="30" nzRequired>Curso</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24">
                <input nz-input formControlName="Session" >
              </nz-form-control>
            </nz-form-item>
    </form>
  </nz-modal> -->
  <!-- <nz-card>
    <button class="button" nz-button (click)="showModal()"><span>Crear archivo</span></button>
    <h3>Archivos creados</h3>
    <nz-table #basicTable [nzData]="users">
      <thead>
        <tr>
          <th>Nombre de Usuario</th>
          <th>Correo</th>
          <th>Contraseña</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{data.UserName}}</td>
          <td>{{data.Email}}</td>
          <td>{{data.Password}}</td>

        </tr>
      </tbody>
    </nz-table>
  </nz-card> -->
  <p>users work</p>